[submodule "rank00/libft"]
	path = rank00/libft
	url = git@github.com:thetintin66/libft.git
[submodule "rank01/ft_printf"]
	path = rank01/ft_printf
	url = git@github.com:thetintin66/ft_printf.git
[submodule "rank01/get_next_line"]
	path = rank01/get_next_line
	url = git@github.com:thetintin66/get_next_line.git
[submodule "rank01/Push_swap"]
	path = rank01/Push_swap
	url = git@github.com:thetintin66/Push_swap.git
[submodule "rank02/A-Maze-ing"]
	path = rank02/A-Maze-ing
	url = https://github.com/thetintin66/A-Maze-ing.git
[submodule "rank02/Piscine_Python"]
	path = rank02/Piscine_Python
	url = https://github.com/thetintin66/Piscine_Python.git
[submodule "rank03/Call_Me_Maybe"]
	path = rank03/Call_Me_Maybe
	url = https://github.com/thetintin66/Call_Me_Maybe.git
[submodule "rank03/Codexion"]
	path = rank03/Codexion
	url = https://github.com/thetintin66/Codexion.git
[submodule "rank03/Fly-in"]
	path = rank03/Fly-in
	url = https://github.com/thetintin66/Fly-in.git
[submodule "rank04/NetPractice"]
	path = rank04/NetPractice
	url = https://github.com/thetintin66/NetPractice.git
